<div class="profile-container">
  <div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag @user, :profile_image, size: "150x150", format: 'jpeg', fallback: "no_image.jpg" %>
       <h2 class="profile-name text-align my-3"><%= @user.name %></h2>
      <div class="my-3"><%= link_to "Follow:", user_followings_path(@user.id), class:"rounded-left border border-dark bg-light text-dark my-3", method: :get %>　<%= @user.followings.count %></div>
      <div class="my-3"><%= link_to "Follower:", user_followers_path(@user.id), class:"rounded-left border border-dark bg-light text-dark my-3", method: :get %>　<%= @user.followers.count %>
      </div>
      <% if @user.id != current_user.id %>
        <% if current_user.following?(@user) %>
        <%= link_to "Unfollow", user_relationships_path(@user.id), class:"btn btn-dark mt-3", method: :delete %>
        <% else %>
        <%= link_to "Follow", user_relationships_path(@user.id), class:"btn btn-secondary mt-3", method: :post %>
        <% end %>
      <% end %>
      <% if @user.id == current_user.id %>
       <%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-outline-secondary" %>
      <% end %>
    </div>
    <div class="col-lg-8">
      <% @users.each do |user| %>
      <div class="card mb-3 border-dark" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
            <%= link_to user_path(user.id) do %>
            <%= attachment_image_tag user, :profile_image, size: "140x140", fallback: "no_image.jpg" %>
            <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= user.name %></h5>
            <p class="card-text"><%= link_to "Follow:", user_followings_path(user.id), class:"rounded-left border border-dark bg-light text-dark", method: :get %>　<%= user.followings.count %></p>
            <p class="card-text"><%= link_to "Follower:", user_followers_path(user.id), class:"rounded-left border border-dark bg-light text-dark", method: :get %>　<%= user.followers.count %></p>
            <p class="card-text">
              <% if user.id != current_user.id %>
                <% if current_user.following?(user) %>
                <%= link_to "Unfollow", user_relationships_path(user.id), class:"btn btn-dark", method: :delete %>
                <% else %>
                <%= link_to "Follow", user_relationships_path(user.id), class:"btn btn-secondary", method: :post %>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
  </div>
</div>

