<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %>
</div>
<% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>

<% @items.each do |item| %>
<div>
  <%= link_to item_path(item.id) do %>
    <%= attachment_image_tag item, :image, size: "100x100" %>
  <% end %>
  <p>商品名：<%= item.name %></p>
  <p>説明：<%= item.description %></p>
  <p>ユーザーネーム：<%= item.user.name %></p>
</div>
<% end %>
