<div class="container">
 <h1>新規登録</h1>
  <div class="row">
   <%= form_with model: @item, local:true do |f| %>
   <div class ="row">
     <div class ="col">
      <h3>投稿画像</h3>
     </div>
     <div class ="col">
      <%= f.attachment_field :image %>
     </div>
    </div>
    <div class ="row">
     <div class ="col">
      <h3>商品名</h3>
     </div>
     <div class ="col">
     <%= f.text_field :name, placeholder: "商品名" %>
     </div>
    </div>
    <div class ="row">
     <div class ="col">
      <h3>商品説明</h3>
     </div>
     <div class ="col">
      <%= f.text_field :description,  :size => "80x80", placeholder: "ここに説明文を記述します" %>
     </div>
    </div>
    <div class ="row">
     <div class ="col">
    <h3>評価</h3>
     </div>
     <div class ="col">
    <div id="evaluate_stars">
    <div class="actions">
     </div>
     </div>
     </div>
     </div>
    <div class ="row">
     <div class ="col">
      <h3>ジャンル</h3>
     </div>
     <div class ="col">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
     </div>
    </div>
    <div class ="row">
     <div class ="col">
     <%= f.submit '新規登録', class:"btn btn-outline-dark" %>
     </div>
    </div>
   <% end %>
  </div>
</div>

   <script>
     $('#evaluate_stars').raty({
       starOn: "<%= asset_path('star-on.png') %>",
       starOff: "<%= asset_path('star-off.png') %>",
       starHalf: "<%= asset_path('star-half.png') %>",
       scoreName: 'item[evaluation]'
     });
   </script>