<div class="container mt-3">
 <h2>投稿詳細</h2>
  <div class="row">
    <div class ="col">
     <%= attachment_image_tag @item, :image, size: "100x100"%>
    </div>
  </div>
  <div class ="row">
   <div class ="col">
    <h4>商品名</h4>
   </div>
   <div class ="col">
    <%= @item.name %>
   </div>
  </div>

  <div class ="row">
   <div class ="col">
    <h4>評価</h4>
   </div>
   <div class ="col">
    <p class="item-evaluation" data-score="<%= @item.evaluation %>">
   </div>
  </div>
  <div class ="row">
   <div class ="col">
    <h4>商品説明</h4>
   </div>
   <div class ="col">
    <%= @item.description %>
   </div>
  </div>
  <div class ="row">
   <div class ="col">
    <h4>ジャンル</h4>
   </div>
   <div class ="col">
    <%= @item.genre.name %>
   </div>
  </div>
  <div class ="row">
   <div class ="col">
    <h4>価格</h4>
   </div>
   <div class ="col">
    <%= @item.price.to_s(:delimited) %>円
   </div>
  </div>
  <% if @item.user == current_user %>
  <div class ="row">
   <div class ="col">
    <%= link_to "編集する", edit_item_path, class:"btn btn-success" %>
   </div>
  </div>
  <div class ="row">
   <div class ="col">
  <td><%= link_to "削除する", item_path(@item.id), class: "btn btn-danger", method: :delete, data: { confirm: '削除しますか？' } %></td>
    <% end %>
   </div>
  </div>
</div>
 <div id="likes_buttons<%= @item.id %>">
    <%= render partial: 'favorites/favorite', item: @item %>
 </div>
<div class="comments">
<p>コメント件数：<%= @item.comments.count %></p>

<% @item.comments.each do |comment| %>
  <%= attachment_image_tag comment.user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>
  <%= comment.user.name %>
  <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% if comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", item_comment_path(comment.item, comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>

<div class="new-comment">
 <% if user_signed_in? %>
<%= form_with(model:[@item, @comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントはこちら" %>
  <%= f.submit "送信する" %>
<% end %>
<% end %>
</div>

 <script>
  $('.item-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
 </script>