<div class="container mt-5">
  <div class="row mt-5">
   <div class="col-lg-4 mx-auto mt-5 text-center bg-white text-dark border border-dark rounded">
    <h2 class="bg-white text-dark">Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field bg-white text-dark">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field bg-white text-dark">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field bg-white text-dark">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field bg-white text-dark mb-1">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions mt-3 mb-3">
    <%= f.submit "Sign up" %>
    </div>
    <% end %>
   </div>
  </div>
</div>
